requests
colorlog
base58
pydantic
aiohttp
pandas
prettytable

fastapi
uvicorn
alembic
alembic_utils
sqlalchemy
# not using psycopg2-binary due to aarm64 compatibility issue
psycopg2

ergo-python-appkit==0.1.0